.container {
    height: 800px;
    width: 1000px;
    background-color: bisque;
    display: flex;

}
.box1{
    background-color: aqua;
    height: 200px;
    width: 200px;
}

.box2{
    background-color: blueviolet;
    height: 180px;
    width: 180px;
}

.box3 {
    background-color: yellowgreen;
    height: 160px;
    width: 160px;
}

.box4 {
    background-color: rgb(235, 14, 14);
    height: 140px;
    width: 140px;
}

@media screen { min-width: 480px;
    body {
        background-color: blueviolet;
    }
    
}
    